@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-font: "Roboto", sans-serif;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-accent: #B92F2C;
  --color-bg: #F7F7F7;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 0 auto;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
  padding: 0 14px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url("/src/images/header/header-bg-mob-1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  border: none;
  border-radius: 15px;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-wrap {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url("/src/images/header/header-bg-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header-wrap {
    position: relative;
    padding: 0 16px;
    height: 222px;
    background-image: linear-gradient(-273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url("/src/images/header/header-bg-tabl-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-wrap {
    background-image: linear-gradient(-273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url("/src/images/header/header-bg-tabl-2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .header-wrap {
    padding: 0 32px;
    height: 316px;
    background-image: linear-gradient(-273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url("/src/images/header/header-bg-desk-1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-wrap {
    background-image: linear-gradient(-273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url("/src/images/header/header-bg-desk-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    gap: 4px;
    padding-top: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header-nav {
    gap: 8px;
  }
}

.btn-home,
.btn-mylibrary {
  margin-top: 14px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
}
@media screen and (min-width: 768px) {
  .btn-home,
  .btn-mylibrary {
    order: 1;
    padding: 12px 24px;
    margin: 0;
  }
}

.btn-home {
  display: inline-block;
  padding: 10px 26px;
}
@media screen and (min-width: 768px) {
  .btn-home {
    padding: 12px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-home {
    padding: 14px 32px;
  }
}

.btn-mylibrary {
  display: inline-block;
  padding: 10px 22px;
}
@media screen and (min-width: 768px) {
  .btn-mylibrary {
    padding: 12px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-mylibrary {
    padding: 14px 24px;
  }
}

.btn-wrap {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .btn-wrap {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-wrap {
    right: 32px;
  }
}

.btn-watched {
  margin: 0;
  background-color: #b92f2c;
  color: var(--color-white);
}
@media screen and (min-width: 1280px) {
  .btn-watched {
    margin-right: 8px;
  }
}

.btn-queue {
  margin: 0;
  background-color: var(--color-white);
  color: #b92f2c;
}

.btn-black {
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn-white {
  color: var(--color-white);
  background-color: var(--color-black);
}

.search-form {
  position: relative;
}
.search-form ::-moz-placeholder {
  color: var(--color-black);
}
.search-form ::placeholder {
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  .search-form {
    order: 0;
  }
}

.form-input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  width: 100%;
  border: none;
  border-radius: 100px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  .form-input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px;
    margin: 0;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 1280px) {
  .form-input {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.icon-input {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke: var(--color-black);
  fill: none;
  background-color: transparent;
  border: none;
}
.icon-input:focus, .icon-input:hover {
  scale: 1.2;
}
@media screen and (min-width: 768px) {
  .icon-input {
    right: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .icon-input {
    top: 13px;
    right: 16px;
  }
}

.header-logo-wrap {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header-logo-wrap {
    text-align: left;
  }
}

.header-logo {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo {
    margin-bottom: 32px;
  }
}

.library-logo {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .library-logo {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .library-logo {
    margin-bottom: 32px;
  }
}

.header__logo-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .header__logo-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo-icon {
    width: 59px;
    height: 59px;
    margin-right: 16px;
  }
}

.text-logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.1875;
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .text-logo {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
  }
}
@media screen and (min-width: 1280px) {
  .text-logo {
    font-weight: 500;
    font-size: 64px;
    line-height: 1.171875;
  }
}

.gallery-library {
  padding-bottom: 20px;
}

.gallery-library__bg {
  display: block;
  min-width: 280px;
  min-height: 209px;
  background-image: url(/src/images/gallery-library/empty-320.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .gallery-library__bg {
    background-image: url(/src/images/gallery-library/empty-480.png);
    min-width: 400px;
    min-height: 299px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-library__bg {
    background-image: url(/src/images/gallery-library/empty-768.png);
  }
}
@media screen and (min-width: 1280px) {
  .gallery-library__bg {
    background-image: url(/src/images/gallery-library/empty-1280.png);
  }
}

.empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.empty__text {
  color: var(--color-accent);
  font-size: 22px;
}
@media screen and (min-width: 480px) {
  .empty__text {
    font-size: 30px;
  }
}
@media screen and (min-width: 480px) {
  .empty__text {
    font-size: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .empty__text {
    font-size: 40px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  transition: opacity var(--animation);
  pointer-events: none;
}

.modal-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--color-white);
  min-width: 280px;
  min-height: 930px;
  padding: 48px 20px 40px 20px;
  transition: transform var(--animation);
  transition: transform 250ms var(--animation);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .modal-movie {
    min-width: 704px;
    min-height: 552px;
    padding: 40px 72px 64px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie {
    min-width: 806px;
    min-height: 558px;
    padding: 40px 12px;
  }
}

.backdrop.is-hidden .modal-movie {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform var(--animation);
}

.modal-movie__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-color: transparent;
  background-color: transparent;
}
.modal-movie__icon-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.modal-movie__icon-close:hover, .modal-movie__icon-close:focus {
  stroke: var(--color-accent);
  transition: stroke var(--animation);
}
@media screen and (min-width: 768px) {
  .modal-movie__content {
    display: flex;
  }
}
.modal-movie__poster-wrapper {
  background-color: var(--color-accent);
  width: 240px;
  height: 357px;
}
@media screen and (max-width: 768px) {
  .modal-movie__poster-wrapper {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal-movie__poster-wrapper {
    width: 264px;
    height: 373.55px;
    margin-right: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__poster-wrapper {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}
.modal-movie__poster {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .modal-movie__poster {
    margin-left: auto;
    margin-right: auto;
  }
}
.modal-movie__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
}
@media screen and (min-width: 1280px) {
  .modal-movie__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__title {
    line-height: 35.16px;
  }
}
.modal-movie__meta-wrapper {
  display: flex;
  margin-bottom: 8px;
  white-space: nowrap;
}
.modal-movie__meta {
  font-family: Roboto;
  font-weight: 500px;
  font-size: 12px;
  line-height: 16px;
  color: #8C8C8C;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  width: 108px;
}
@media screen and (min-width: 1280px) {
  .modal-movie__meta {
    width: 152px;
  }
}
.modal-movie__meta-data {
  font-family: Roboto;
  font-weight: 500px;
  font-size: 12px;
  line-height: 16px;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}
.modal-movie__meta-data--red {
  color: var(--color-white);
  background-color: var(--color-accent);
  border-radius: 5px;
  padding: 1px 10px;
  margin-right: 3px;
  line-height: 14.06px;
}
.modal-movie__meta-data--grey {
  display: inline-block;
  background-color: var(--color-bg);
  border-radius: 5px;
  padding: 1px 4px;
  margin-left: 3px;
  line-height: 14.06px;
}
.modal-movie__header-overview {
  margin-top: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 500px;
  font-size: 12px;
  line-height: 16px;
}
.modal-movie__text-overview {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 500px;
  font-size: 12px;
  line-height: 20px;
}
@media screen and (max-width: 768px) {
  .modal-movie__command-btns {
    text-align: center;
  }
}
.modal-movie__add-to-watched-btn {
  width: 125px;
  height: 34px;
  margin-right: 4px;
  font-family: Roboto;
  font-weight: 500px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
  border-radius: 100px;
  border: 1px solid var(--color-black);
  color: var(--color-accent);
}
@media screen and (min-width: 768px) {
  .modal-movie__add-to-watched-btn {
    width: 137px;
    height: 38px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__add-to-watched-btn {
    width: 165px;
    height: 42px;
  }
}
.modal-movie__add-to-watched-btn:hover, .modal-movie__add-to-watched-btn:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
  border-color: transparent;
  transition: background-color var(--animation), color 2var --animation, border-color var(--animation);
}
.modal-movie__add-to-queue-btn {
  width: 111px;
  height: 34px;
  font-family: Roboto;
  font-weight: 500px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  border-radius: 100px;
  border: 1px solid var(--color-black);
  color: var(--color-accent);
}
@media screen and (min-width: 768px) {
  .modal-movie__add-to-queue-btn {
    width: 119px;
    height: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__add-to-queue-btn {
    width: 134px;
    height: 42px;
  }
}
.modal-movie__add-to-queue-btn:hover, .modal-movie__add-to-queue-btn:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
  border-color: transparent;
  transition: background-color var(--animation), color var(--animation), border-color var(--animation);
}

.footer {
  background-color: var(--color-bg);
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    gap: 0;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.187;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.footer__text {
  margin-right: 5px;
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  animation: heartbeat 1s infinite;
}

.footer__link {
  text-decoration: underline;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1.5);
  }
}
.btnUp-wrapper {
  position: fixed;
  bottom: 39px;
  right: 10px;
  z-index: 10;
  fill: tomato;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .btnUp-wrapper {
    bottom: 39px;
    right: calc((100vw - 340px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btnUp-wrapper {
    bottom: 39px;
    right: calc((100vw - 768px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .btnUp-wrapper {
    bottom: 55px;
    right: calc((100vw - 1024px) / 2);
  }
}

.btnUp-wrapper:hover, .btnUp-wrapper:focus {
  fill: rgba(87, 0, 128, 0.637);
}

.btnUp__icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btnUp__icon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .btnUp__icon {
    width: 60px;
    height: 60px;
  }
}/*# sourceMappingURL=index.css.map */