    <div class="container footer-container">
    <span class="footer__text">&#169  2023 | All Rights Reserved |</span>
    <div class="footer__box">
        <span>Developed with</span>
        <svg class="footer__icon" width="14" height="13">
            <use href="./images/icons-spr.svg#icon-heart"></use>
        </svg>
        <span>by 
            <span class="footer__link"> GoIT Students</span>
        </span>
    </div>
</div>

<div class="footer__backdrop is-hidden">
    <div class="footer__modal">
        <button class="modal__button-close" data-modal-close> 
            <svg class="modal__icon-close" width="15" height="15">
                <use class="modal__cross"
                href="/src/images/icons-spr.svg#icon-close"
                width="13"
                height="13"></use>
            </svg>
        </button>
        <h2 class="team">GoIT Students</h2>
        <ul class="team__list">
            <li class="team__item">
                <div class="team__wrapper">
                    <ul class="sns-list">
                        <li class="sns-list__item">
                            <a href="https://github.com/yuliiaishchenko"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link"></a>
                        </li>
                        <li class="sns-list__item">
                            <a href="mailto:romashka.ukr@gmail.com"
                            class="sns-list__link"
                            lang="en"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="e-mail"></a>
                        </li>
                    </ul>
                    <div class="team__student-photo--wrap">
                    <div class="team__foto-thumb">
                        <img src="./images/gallery-library/empty-320.png" alt="jula" width="250">
                    </div>
                </div>
                </div>
                <div class="team__student-card">
                    <h3 class="team__student-name">yuliiaishchenko</h3>
                    <p class="team__student-role">Developer</p>
                    <p class="team__student-info"></p>
                </div>
            </li>

            <li class="team__item">
                <div class="team__wrapper">
                    <ul class="sns-list">
                        <li class="sns-list__item">
                            <a href="https://github.com/yuliiaishchenko"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link"></a>
                        </li>
                        <li class="sns-list__item">
                            <a href="mailto:romashka.ukr@gmail.com"
                            class="sns-list__link"
                            lang="en"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="e-mail"></a>
                        </li>
                    </ul>
                    <div class="team__student-photo--wrap">
                    <div class="team__foto-thumb">
                        <img src="./images/gallery-library/empty-320.png" alt="jula" width="250">
                    </div>
                </div>
                </div>
                <div class="team__student-card">
                    <h3 class="team__student-name">yuliiaishchenko</h3>
                    <p class="team__student-role">Developer</p>
                    <p class="team__student-info"></p>
                </div>
            </li>
           
        </ul>
        </div>
</div>