    <div class="container footer-container">
    <span class="footer__text">&#169  2023 | All Rights Reserved |</span>
    <div class="footer__box">
        <span>Developed with</span>
        <svg class="footer__icon" width="14" height="13">
            <use href="./images/icons-spr.svg#icon-heart"></use>
        </svg>
        <span>
            <span class="footer__link" data-footer-modal-open> GoIT Students</span>
        </span>
    </div>
</div>

<div class="footer__backdrop is-hidden">

    <div class="footer__modal">
        <button class="modal__button-close" data-footer-modal-close> 
            <svg class="modal__icon-close" width="15" height="15">
                <use class="modal__cross"
                href="/src/images/icons-spr.svg#icon-close"
               ></use>
            </svg>
        </button>
        <div class="modal__content">
            <div class="modal__content-container">
        <h2 class="team">GoIT   </h2>
        <ul class="modal__container-list">
            <li class="modal__container-list-item">Students</li>
            <li class="modal__container-list-item">Developers</li>
            <li class="modal__container-list-item">Students</li>
            <li class="modal__container-list-item">Developers</li>
                  </ul>
    </div>
</div>
        <ul class="team__list">
            <li class="team__item">
                <div class="team__wr3pper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/team/nikitalan.jpg" alt="nikita" class="team__foto-img" width="250" height="200">
                    </div>
                
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Nikita Lan</h3>
                    <p class="team__student-role">Team-lead</p>
                    <a href="https://github.com/NikitaLan"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>

            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/team/MelnychenkoJenny.jpg" alt="jenny"  class="team__foto-img" width="250" height="200">
                    </div>
               
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Melnychenko Eugenia</h3>
                    <p class="team__student-role">Scrum-master</p>
                    <a href="https://github.com/MelnychenkoJenny"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>
            
            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/team/Kostiantyn Koshyk.jpg" alt="K-Basket"  class="team__foto-img" width="250" height="200">
                    </div>
                
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Kostiantyn Koshyk</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/K-Basket"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>

            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/team/IrynaNeher.jpg" alt="ira" class="team__foto-img" width="250" height="200">
                    </div>
                
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Iryna Tsaruk</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/iratsaruk13"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
                </div>

            </li>

            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/team/stoletof.jpg" alt="stoletof"  class="team__foto-img" width="250" height="200">
                    </div>
                
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Alexander Afanasiev</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/stoletoff"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>

           

                      
            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/team/ishchenko.jpg" alt="jula"  class="team__foto-img" width="250" height="200">
                    </div>
                
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Yuliia Ishchenko</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/yuliiaishchenko"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>

            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/team/oleksij.jpg" alt="Oleksii" class="team__foto-img" width="250" height="200">
                    </div>
              
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Oleksii Leschenko</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/DJlabuh"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>
           
            <li class="team__item">
                <div class="team__wrapper">
                    <div class="team__foto-thumb">
                        <img src="./images/team/OlgaB.jpg" alt="Olga"  class="team__foto-img" width="250" height="200">
                    </div>
               
                <div class="team__student-card">
                    <h3 class="team__student-name">Olga Bagrii</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/OIgaB"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>
           
            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/gallery-library/empty-320.png" alt="Hanna"  class="team__foto-img" width="250" height="200">
                    </div>
                
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Hanna Nastenko</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/HannaNastenko"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>

            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/gallery-library/empty-320.png" alt="artem"  class="team__foto-img" width="250" height="200">
                    </div>
              
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Artem Osypov</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/ArtemOsypov"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>
           
            <li class="team__item">
                <div class="team__wrapper">
                   
                    
                    <div class="team__foto-thumb">
                        <img src="./images/gallery-library/empty-320.png" alt="zakhar"  class="team__foto-img" width="250" height="200">
                    </div>
              
                
                <div class="team__student-card">
                    <h3 class="team__student-name">Zakhar Tsarapov</h3>
                    <p class="team__student-role">Developer</p>
                    <a href="https://github.com/ZakharTsarapov"
                            class="sns-list__link"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            aria-label="Github link">
                        <svg class="sns-list__icon" width="30" height="30"
                        >
                    <use href="/src/images/icons-spr.svg#icon-github"></use></svg></a>
                    <p class="team__student-info"></p>
                </div>
            </div>
            </li>
            
           
        </ul>
        </div>
   
</div>