<section class="gallery-home">
  <div class="container">
    <h1 class="visually-hidden">Search films</h1>
    <h2 class="visually-hidden">Films card list</h2>
    <div class="empty visually-hidden">
      <p class="empty__text">Sorry, there are no movies matching your search query. Please try again.</p>
      <div class="gallery-library__bg"></div>
  </div>
    <ul class="gallery-home__list">
      <!-- сюда будут лишки приходить от запроса с апишки -->
    </ul>
    <div id="pagination" class="tui-pagination"></div>
  </div>
  
</section>
