<div class="container">
  <div class="header-wrap">
    <div class="header-nav">
      <a class="btn-home btn-black" href="./index.html">Home</a>
      <a class="btn-mylibrary btn-white" href="./library.html">My Library</a>
    </div>

    <div class="header-logo-wrap">
      <a class="header-logo library-logo link" href="./index.html">
        <svg class="header__logo-icon">
          <use href="/src/images/icons-spr.svg#icon-film"></use>
        </svg>
        <p class="text-logo">Filmoteka</p>
      </a>
      <div class="btn-wrap">
        <button class="btn-home btn-watched" type="button">Watched</button>
        <button class="btn-mylibrary btn-queue" type="button">Queue</button>
      </div>
    </div>
  </div>
</div>
