<div class="backdrop is-hidden" data-modal>
    <div class="modal-movie">
        <button type="button" class="modal-movie__close-btn" data-modal-close>
            <svg class="modal-movie__icon-close" aria-label="close button">
                <use href="/src/images/icons-spr.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="movie-modal__heading visually-hidden">Picked Movie</h2>
        <section class="modal-movie__content"> <!-- динамічна розмітка 1-го фільму --> </section>    
        <div class="modal-movie__command-btns-wrap"> 
            <button class="modal-movie__add-to-watched-btn modal-movie__command-btns button" type="button">add to Watched</button>
            <button class="modal-movie__add-to-queue-btn modal-movie__command-btns button" type="button">add to queue</button> 
     
        </div>  
        <button class="modal-movie__trailer-btn modal-movie__command-btns button" type="button">
            <svg class="trailer__icon" width="35" height="30">
                <use href="./images/icons-spr.svg#icon-play"></use>
            </svg> </button>   
    </div>
</div>
