<button type="button" class="" data-modal-open>Фільм</button>
<div class="backdrop is-hidden" data-modal>
    <div class="modal-movie">
        <button type="button" class="modal-movie__close-btn" data-modal-close>
            <svg class="modal-movie__icon-close" aria-label="close button">
                <use href="/src/images/icons-spr.svg#icon-close"></use>
            </svg>
        </button>
        <section class="modal-movie__content"> <!-- динамічна розмітка --> </section>      
    </div>
</div>
