.footer {
    background-color: $color-bc;
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  @include tablet {
    flex-direction: row;
    gap: 0;
    justify-content: center;
    padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.187;
  }
  @include desktop {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}
.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  animation: heartbeat 1s infinite;
}

.footer__link {
  text-decoration: underline;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1.5);
  }
}
