.gallery-home__list,
.gallery-library__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -20px;
  margin-top: -20px;

  @include tablet {
    margin-left: -32px;
    margin-top: -32px;
  }

  @include desktop {
    margin-left: -16px;
    margin-top: -32px;
  }
}
.gallery-home__item {
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: all var(--animation);
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  &:hover .gallery-home__card-rate {
    opacity: 1;
  }

  @include tablet {
    flex-basis: calc(100% / 2 - 32px);
    margin-top: 32px;
    margin-left: 32px;
  }
  @include desktop {
    flex-basis: calc(100% / 3 - 16px);
    margin-left: 16px;
    margin-top: 32px;
  }
}

.gallery-home__card-thumb {
  border-radius: 5px;
  overflow: hidden;
}

.gallery-home__item {
  position: relative;
}

.gallery-home__card-rate {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-accent);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--color-white);
  top: 15px;
  right: 15px;
  opacity: 1;
  transition: opacity var(--animation);

  @include desktop {
    opacity: 0;
  }
}

.gallery-home__card-info {
  flex-grow: 1;
}

.gallery-home__card-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  color: var(--color-black);
  margin-top: 10px;

  @include tablet {
    line-height: 1.33;
    margin-top: 8px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 12px;
  }
}

.gallery-home__card-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-accent);

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.trailerPlayer {
  width: 320px;
  height: 180px;
  @include mobile {
    width: 480px;
    height: 230px;
  }
  @include tablet {
    width: 760px;
    height: 420px;
  }
  @include desktop {
    width: 1100px;
    height: 580px;
  }
}
