.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  opacity: 1;
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--color-white);
  min-width: 280px;
  height: 930px;
  padding: 48px 20px 40px 20px;

  @media screen and (max-width: 768px) {
    // для скрола модалки
    display: block;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  @include tablet {
    min-width: 704px;
    height: 552px;
    padding: 40px 72px 64px 36px;
  }
  @include desktop {
    min-width: 806px;
    height: 558px;
    padding: 40px 12px;
  }

  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal-movie {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-movie--background-red {
  background-image: radial-gradient(
    circle at top right,
    // rgba(185, 47, 44, 1) 10%,
    rgba(185, 46, 44, 0.767) 10%,
    rgba(25, 0, 255, 0) 50%
  );
}

.modal-movie--background-yellow {
  background-image: radial-gradient(
    circle at top right,
    rgba(231, 147, 21, 0.767) 10%,
    rgba(25, 0, 255, 0) 50%
  );
}

.modal-movie {
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
  }

  &__icon-close {
    display: inline-block;
    width: 30px;
    height: 30px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    &:hover,
    &:focus {
      stroke: var(--color-accent);
      transition: stroke var(--animation);
    }
  }

  &__content {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
    @include tablet {
      display: flex;
    }
  }

  &__poster-wrapper {
    box-shadow: 8px 10px 10px 0px rgba(0, 0, 0, 0.3);
    @media screen and (max-width: 319px) {
      width: 240px;
      height: 357px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
    @include tablet {
      width: 264px;
      height: 373.55px;
      margin-right: 68px;
    }
    @include desktop {
      width: 375px;
      height: 478px;
      margin-right: 16px;
    }
  }

  &__poster {
    @include tablet {
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    height: 100%;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    @include desktop {
      font-size: 30px;
    }
    line-height: 23.44px;
    @include desktop {
      line-height: 35.16px;
    }
  }
  &__meta-wrapper {
    display: flex;
    margin-bottom: 8px;
  }

  &__meta {
    line-height: 16px;
    color: #8c8c8c;
    width: 108px;
    @media screen and (max-width: 670px) {
      max-width: 75px;
    }
    @include desktop {
      width: 152px;
    }
  }

  &__meta-data {
    line-height: 16px;
  }

  &__meta-data--red {
    color: var(--color-white);
    background-color: var(--color-accent);
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 3px;
    line-height: 14.06px;
  }

  &__meta-data--yellow {
    color: var(--color-white);
    background-color: rgba(126, 50, 3, 0.705);
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 3px;
    line-height: 14.06px;
  }

  &__meta-data--grey {
    display: inline-block;
    background-color: #ebe5e59d;
    padding: 1px 4px;
    border-radius: 5px;
    margin-right: 3px;
    line-height: 14.06px;
  }

  &__header-overview {
    margin-top: 20px;
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 16px;
  }

  &__text-overview {
    line-height: 20px;

    @include tablet {
      width: 264px;
      max-height: 220px;
      overflow-y: auto;
    }
    @include desktop {
      width: 391px;
      max-height: 257px;
    }
  }

  // ----------------- Кнопки -------------------------
  &__command-btns-wrap {
    // координати в movie-modal.js
    display: flex;

    @include tablet {
      position: absolute;
    }
  }

  &__command-btns {
    cursor: pointer;
    line-height: 14px;
    text-transform: uppercase;
    border-radius: 100px;
  }

  &__command-btns--red {
    border: 1px dotted rgba(71, 8, 8, 0.404);
    color: var(--color-accent);
    background-color: rgba(185, 47, 44, 10%);

    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1e0dda31;
    transition: 0.2s;

    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: var(--color-accent);
      box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
      border-color: transparent;
      transition: background-color var(--animation), color var(--animation),
        border-color var(--animation);
    }
  }

  &__command-btns--yellow {
    border: 1px dotted rgba(211, 106, 20, 0.404);
    color: var(--color-accent);
    background-color: rgba(185, 112, 44, 0.1);

    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #da690d5e;
    transition: 0.2s;

    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: rgba(126, 50, 3, 0.507);
      box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #86410957;
      border-color: transparent;
      transition: background-color var(--animation), color var(--animation),
        border-color var(--animation);
    }
  }

  &__add-to-watched-btn {
    @media screen and (max-width: 320px) {
      max-width: 125px;
      padding-left: 12px;
      padding-right: 12px;
      margin-right: 4px;
    }
    width: 125px;
    height: 34px;
    margin-right: 8px;

    @include tablet {
      width: 137px;
      height: 38px;
    }
    @include desktop {
      width: 165px;
      height: 42px;
    }
  }

  &__add-to-queue-btn {
    @media screen and (max-width: 320px) {
      max-width: 111px;
      padding-left: 14px;
      padding-right: 14px;
      margin-right: 4px;
    }
    width: 111px;
    height: 34px;
    margin-right: 8px;

    @include tablet {
      width: 119px;
      height: 38px;
    }
    @include desktop {
      width: 134px;
      height: 42px;
    }
  }

  &__add-to-queue-btn.active-btn--red,
  &__add-to-watched-btn.active-btn--red {
    color: var(--color-white);
    background-color: var(--color-accent);
  }

  &__add-to-queue-btn.active-btn--yellow,
  &__add-to-watched-btn.active-btn--yellow {
    color: var(--color-white);
    background-color: rgba(126, 50, 3, 0.418);
  }
}

// .modal-movie__add-to-queue-btn.active-btn,
// .modal-movie__add-to-watched-btn.active-btn {
//   color: var(--color-white);
//   background-color: var(--color-accent);
// }
.modal-movie__trailer-btn {
  position: absolute;
  top: 60px;
  left: 25px;
display: flex;
width: 50px;
height: 50px;
justify-content: center;
align-items: center;
}
.trailer__icon {
  fill: var(--color-accent);
}
.modal-movie__trailer-btn:hover .trailer__icon {
  fill: var(--color-white);
}