#pagination.tui-pagination {
  margin: 0 auto;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;

  .tui-first {
    display: none !important;
    border-radius: 5px;
    background-color: var(--color-bg);
  }
  .tui-last {
    display: none !important;
    border-radius: 5px;
    background-color: var(--color-bg);
  }

  .tui-next-is-ellip {
    display: none !important;
  }
  .tui-prev-is-ellip.tui-first-child {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .tui-ico-ellip {
    margin: 0 auto;
  }

  .tui-pagination .tui-page-btn:hover {
    background-color: var(--color-bg);
  }
  .tui-is-selected,
  .tui-pagination strong {
    border-radius: 5px;
    background: var(--color-accent);
    border-color: var(--color-accent);
  }

  .tui-page-btn {
    margin: 0 auto;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: calc(12 / 16);
    color: --color-black;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
  }
}

@include tablet {
  #pagination.tui-pagination {
    padding-top: 60px;
    padding-bottom: 60px;
    .tui-first {
      display: inline-flex !important;
    }
    .tui-last {
      display: inline-flex !important;
    }
    .tui-next-is-ellip {
      display: inline-flex !important;
    }
  }
}
