#pagination.tui-pagination {
  .tui-first {
    border-radius: 5px;
    background-color: var(--color-bg);
  }
  .tui-last {
    border-radius: 5px;
    background-color: var(--color-bg);
  }

  .tui-ico-ellip {
    display: flex;
    text-align: center;
    margin: 0 auto;
  }

  .tui-pagination .tui-page-btn:hover {
    background-color: var(--color-bg);
  }
  .tui-is-selected,
  .tui-pagination strong {
    border-radius: 5px;
    background: var(--color-accent);
    border-color: var(--color-accent);
  }

  padding-top: 40px;
  padding-bottom: 40px;
  .tui-page-btn {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: calc(12 / 16);
    color: --color-black;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25px;
    height: 25px;
    @include tablet {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }

    .tui-ico-ellip {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      justify-content: center;
    }
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
